<section class="section">
  <div class="container">
    <div class="columns is-mobile is-centered">
      <div class="column is-half is-narrow">
        <% if @tasks.blank? %>
          <div class="notification is-primary has-text-centered ">
            <p class="is-size-3">Hola, parece que no hay tareas disponibles.</p>
            <br>
            <a href="/new" class="button is-primary is-inverted">Nueva Tarea</a>
          </div>
        <%end%>
        <% @tasks.each do |task|%>
          <div class="box">
            <article class="media">
              <div class="media-content">
                <div class="content has-text-centered">
                  <p>
                    <h2><strong>Tarea: <%=task['title'].blank? ? 'Sin nombre' : task['title']%></strong></h2>
                    <small>Estado: <%= task['done'] == false ? 'Incompleto' : 'Completado' %></small>
                    <br>
                  </p>
                </div>
                <hr>
                <nav class="level is-mobile center">
                  <div class="action-links">
                    <%if task['done'] == false%>
                    <a class="level-item">
                      <span class="icon is-medium"><i class="fa fa-check"></i></span>
                    </a>
                    <%end%>
                    <a class="level-item danger">
                      <span class="icon is-medium"><i class="fa fa-trash"></i></span>
                    </a>
                  </div>
                </nav>
              </div>
            </article>
          </div>
        <%end%>
      </div>
    </div>    
  </div>
</section>